<% if (locals.user) {%>
  <nav id="navigation-div">
    <div id="nav-heading">
      <a href="/">
        <h1>Budget Tracker</h1>
      </a>
    </div>
    <div class="nav-right-div">
      <img src=<%=user.avatar%> alt="Profile Picture" id="profile-image">
      <div class="stats-signout">
        <% if (link=="Dashboard" ) {%>
          <a href="/dashboard" class="nav-link"">Dashboard</a>
          <%} else {%>
            <a href=" /dashboard/stats" class="nav-link"">Stats</a>
          <%}%> 
        <a href=" /signout" class="nav-link">Signout</a>
      </div>
      <div class="mobile-nav hidden">
        <% if (link=="Dashboard" ) {%>
          <a href="/dashboard" class="nav-link"">Dashboard</a>
          <%} else {%>
            <a href=" /dashboard/stats" class="nav-link"">Stats</a>
          <%}%> 
        <a href=" /signout" class="nav-link">Signout</a>
      </div>
    </div>
  </nav>
  <%}%>