<div id="login-main-div">
  <h1 id="login-heading">Expense <br> Tracker</h1>
  <div id="login-google-div">
    <button onclick="location.href='/auth/google'" class="google-btn">
      <img src="/images/google.svg" alt="">
      <p><strong>Sign in with Google</strong></p>
    </button>
  </div>
</div>