@import './form';

#dashboard-div {
  margin-top: 12rem;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
  h4,
  h1 {
    font-size: 3rem;
  }
  h4 {
    font-weight: 500;
  }

  h6 {
    text-align: center;
    font-size: 1.6rem;
    margin: 2rem 0;
  }

  li {
    list-style: none;
  }
}

.total-today {
  @include amountDisplay;
  div {
    @include flex(center);
    gap: 3rem;

    i {
      font-size: 2rem;
    }

    p {
      color: white;
      font-size: 6rem;
      font-weight: 600;
      font-family: $number-font;
    }
  }
  p {
    color: gray;
    font-size: 1.6rem;
    font-weight: 500;
  }
}

.single-expense {
  width: 60%;
  margin-left: 50%;
  margin-bottom: 1rem;
  background-color: rgba(214, 214, 214, 0.219);
  border-radius: 1rem;
  padding: 2rem 3rem;
  box-shadow: 1px 1px 2px 1px rgba(128, 128, 128, 0.295);
  transform: translateX(-50%);
  @include flex(space-between);
  font-size: 2rem;
  font-weight: 600;

  .single-cost-del {
    @include flex(center);
    gap: 2rem;
  }
  p {
    i {
      font-size: 1.6rem;
    }
  }
}

.single-expense-left {
  @include flex(center);
  flex-direction: column;
  width: 80%;
  gap: 0.5rem;
}

.se-notes {
  font-size: 1.6rem;
  align-self: flex-start;
  color: rgb(255, 168, 54);
}

.single-name-tag {
  @include flex(center);
  gap: 1rem;
  align-self: flex-start;

  .se-tag {
    color: white;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.473);
    padding: 0.1rem 1rem;
    border-radius: 1rem;
    font-weight: 400;
  }
}

.fa-trash {
  color: #cf354c;
}

#change-date-dash {
  position: absolute;
  top: 12rem;
  right: 5rem;
  color: black;
  label {
    font-size: 1.7rem;
    font-weight: 600;
  }
  input {
    font-family: $font;
    font-weight: 500;
    margin-right: 1rem;
  }
  button {
    height: 3rem;
    width: 3rem;
    background-color: rgb(253, 186, 86);
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
    i {
      font-size: 1.4rem;
      color: white;
    }
  }
}

#warning-not-found {
  margin-top: 5rem;
  margin-left: 50%;
  transform: translateX(-50%);
  @include flex(center);
  flex-direction: column;
  gap: 5rem;
}

#calendar-icon {
  display: none;
}
