#add-expense-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: black;
  border: none;
  cursor: pointer;
  i {
    color: white;
    font-size: 1.5rem;
  }
}

.add-expense-div {
  position: fixed;
  top: 5%;
  right: 2%;
  width: 20%;
  height: 90%;
  background-color: rgb(255, 246, 232);
  box-shadow: 2px 2px 9px 1px rgba(128, 128, 128, 0.5);
  @include flex(space-around);
  flex-direction: column;
  border-radius: 2rem;
  z-index: 9999;
  h3 {
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  input,
  select {
    @include input;
  }

  #radio-btn-div {
    height: 2rem;
    @include flex(space-evenly);

    div {
      height: 2rem;
      @include flex(center);
    }
    .radio-btn {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0;
      margin-right: 0.5rem;
    }

    label {
      font-size: 1.6rem;
      font-weight: 500;
    }
  }

  .btn-form {
    font-family: $font;
    font-size: 1.6rem;
    font-weight: 700;
    height: 4rem;
    width: 20rem;
    background-color: blanchedalmond;
    border: 2px solid rgb(253, 186, 86);
    border-radius: 1rem;
    color: black;
    cursor: pointer;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
  }
}

#close-form-div {
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;

  i {
    font-size: 2rem;
  }
}
