@import './variables';

/**** 1600px ****/
@media (max-width: 100em) {
  .add-expense-div {
    input,
    select {
      width: 22rem;
    }
  }

  #close-form-div {
    top: 3%;
  }
}

/**** 1200px ****/
@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .add-expense-div {
    width: 30%;
    input,
    select {
      width: 25rem;
    }

    .btn-form {
      width: 20rem;
    }
  }

  #dashboard-div {
    h4,
    h1 {
      font-size: 2.5rem;
    }
  }

  .total-today {
    width: 50%;
  }
  .single-expense {
    width: 70%;
  }

  .month-stats {
    width: 55%;
  }

  .month-stats-total {
    width: 60%;
  }

  .others-se {
    margin-top: 10rem;
    padding-top: 3rem;
  }
}

/**** 800px ****/
@media (max-width: 50em) {
  #login-main-div {
    h1 {
      font-size: 8rem;
    }
  }
  nav {
    padding: 4rem 3rem;

    img {
      height: 5rem;
      width: 5rem;
      margin-right: 1rem;
    }

    .nav-link {
      font-size: 1.7rem;
      margin-right: 0rem;
    }
  }

  .add-expense-div {
    width: 40%;
  }

  #dashboard-div {
    h4,
    h1 {
      font-size: 2rem;
    }
    h6 {
      margin-top: 3rem;
    }
  }

  .total-today {
    width: 60%;
  }
  .single-expense {
    width: 80%;
  }

  .total-month {
    padding: 2rem;
    div {
      gap: 1.25rem;
    }
    p {
      font-size: 1.5rem;
    }
    .tt-para {
      font-size: 4.2rem;
    }
  }

  .month-stats {
    width: 60%;
  }

  .month-stats-total {
    width: 65%;
  }
  #stats-form {
    margin-bottom: 3rem;
  }
}

/**** 600px ****/

@media (max-width: 37.5em) {
  #login-main-div {
    flex-direction: column;
    justify-content: space-evenly;
    h1 {
      font-size: 8rem;
    }
  }

  .stats-signout {
    display: none;
  }

  nav {
    h1 {
      font-size: 2.8rem;
    }
  }

  .add-expense-div {
    width: 60%;
  }

  #dashboard-div {
    margin-top: 9rem;

    h6 {
      margin-top: 5rem;
    }
  }

  #stats-div {
    h1 {
      margin-bottom: 3rem;
    }
  }

  #change-date-dash {
    top: 9rem;
    right: 3rem;
  }

  .total-today {
    width: 80%;
    height: 8rem;
    margin: 1rem 0;
    margin-bottom: 3rem;
    margin-left: 50%;
    transform: translateX(-50%);
    div {
      gap: 1.5rem;
      p {
        font-size: 5rem;
      }
    }
  }

  #expense-income-div {
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
  }

  .total-month {
    margin: 0;
    transform: translate(0);
  }
  .single-expense {
    width: 95%;
    font-size: 1.7rem;
    padding: 2rem;
    .single-cost-del {
      gap: 1rem;
    }
  }

  .se-notes {
    font-size: 1.3rem;
  }

  #stats-div {
    h1 {
      font-size: 2.5rem;
    }
  }

  .others-se {
    margin-top: 5rem;
    padding-top: 0rem;
  }

  .other-date-text {
    margin-top: 1rem;
  }

  .month-stats {
    width: 80%;
    height: 6rem;

    .ms-name {
      font-size: 1.8rem;
    }

    .ms-amount {
      i {
        font-size: 1.5rem;
      }
      span {
        font-size: 2.2rem;
      }
    }
  }

  #stats-form {
    margin-bottom: 2rem;
    input {
      width: 12rem;
    }
    button {
      font-size: 1.4rem;
      width: 12rem;
    }
  }
  #warning-not-found {
    width: 70%;
    margin-top: 50%;
    transform: translate(-50%);
    img {
      width: 100%;
    }
  }

  #add-expense-btn {
    height: 6rem;
    width: 6rem;
  }
}

/**** 450px ****/

@media (max-width: 28.125em) {
  nav {
    padding: 4rem 1rem;
    h1 {
      font-size: 2.5rem;
    }
  }

  .add-expense-div {
    top: 2%;
    width: 75%;
    height: 95%;
  }

  #dashboard-div {
    margin-top: 9rem;
    h4,
    h1 {
      font-size: 1.8rem;
    }
    h6 {
      margin-top: 5rem;
    }
  }

  #change-date-dash {
    display: none;
    top: 9rem;
    right: 1rem;
    label {
      font-size: 1.4rem;
    }
    input {
      margin-right: 0.5rem;
    }
    button {
      height: 2.5rem;
      width: 2.5rem;
      i {
        font-size: 1.2rem;
      }
    }
  }

  #name-icon-div {
    @include flex(space-between);
    cursor: pointer;
    i {
      font-size: 2.5rem;
      color: #cf354c;
    }
  }

  #calendar-icon {
    display: inline-block;
  }

  .total-today {
    width: 85%;
    height: 8rem;
    margin: 1rem 0;
    margin-bottom: 3rem;
    margin-left: 50%;
    transform: translateX(-50%);
    div {
      gap: 1.3rem;
      p {
        font-size: 4.5rem;
      }
    }
  }

  #stats-div {
    h1 {
      margin-bottom: 1.5rem;
    }
  }
  #expense-income-div {
    gap: 0.5rem;
  }

  .total-month {
    margin-left: 0%;
    transform: translateX(0%);
    margin-bottom: 0;
  }
  .single-expense {
    width: 100%;
    font-size: 1.6rem;
    padding: 1.8rem;
  }

  .single-expense-left {
    width: 70%;
  }

  .single-name-tag {
    flex-direction: column;
    gap: 0.2rem;
  }

  .se-tag {
    align-self: flex-start;
  }

  .se-notes {
    font-size: 1.2rem;
  }

  .ms-name {
    font-size: 1.7rem;
  }

  .ms-amount {
    i {
      font-size: 1.4rem;
    }
    span {
      font-size: 2rem;
    }
  }
}

/**** 360px ****/
@media (max-width: 23em) {
  .single-expense-left {
    width: 65%;
  }
}
