* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Quicksand", sans-serif;
}

nav {
  height: 8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 4rem;
  position: fixed;
  background-color: blanchedalmond;
  z-index: 9;
  top: 0%;
  overflow: hidden;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.041);
}
nav a {
  text-decoration: none;
  color: black;
}
nav h1 {
  font-size: 3rem;
}
nav img {
  height: 6rem;
  width: 6rem;
  border: 2px solid black;
  border-radius: 50%;
  margin-right: 2rem;
}

.nav-right-div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: inline-block;
  width: 10rem;
  height: 3rem;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

#login-main-div {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: url("/images/bg-login.jpg");
  background-size: cover;
}
#login-main-div h1 {
  font-size: 10rem;
  color: blanchedalmond;
}
#login-main-div button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 2.5rem;
  background-color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  border: 2px solid black;
  box-shadow: 2px 2px 6px 1px rgba(128, 128, 128, 0.562);
  border-radius: 3rem;
  cursor: pointer;
}
#login-main-div button img {
  height: 3.5rem;
  width: 3.5rem;
}

#add-expense-btn {
  position: fixed;
  bottom: 5%;
  right: 5%;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: black;
  border: none;
  cursor: pointer;
}
#add-expense-btn i {
  color: white;
  font-size: 1.5rem;
}

.add-expense-div {
  position: fixed;
  top: 5%;
  right: 2%;
  width: 20%;
  height: 90%;
  background-color: rgb(255, 246, 232);
  box-shadow: 2px 2px 9px 1px rgba(128, 128, 128, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  border-radius: 2rem;
  z-index: 9999;
}
.add-expense-div h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}
.add-expense-div input,
.add-expense-div select {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  height: 4rem;
  width: 30rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  text-align: center;
}
.add-expense-div #radio-btn-div {
  height: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.add-expense-div #radio-btn-div div {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-expense-div #radio-btn-div .radio-btn {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0;
  margin-right: 0.5rem;
}
.add-expense-div #radio-btn-div label {
  font-size: 1.6rem;
  font-weight: 500;
}
.add-expense-div .btn-form {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  height: 4rem;
  width: 20rem;
  background-color: blanchedalmond;
  border: 2px solid rgb(253, 186, 86);
  border-radius: 1rem;
  color: black;
  cursor: pointer;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 1rem;
}

#close-form-div {
  position: absolute;
  top: 5%;
  right: 10%;
  cursor: pointer;
}
#close-form-div i {
  font-size: 2rem;
}

#dashboard-div {
  margin-top: 12rem;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
}
#dashboard-div h4,
#dashboard-div h1 {
  font-size: 3rem;
}
#dashboard-div h4 {
  font-weight: 500;
}
#dashboard-div h6 {
  text-align: center;
  font-size: 1.6rem;
  margin: 2rem 0;
}
#dashboard-div li {
  list-style: none;
}

.total-expense-income {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.total-today {
  height: 10rem;
  width: 40%;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  margin: 4rem 0;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 2rem;
}
.total-today div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.total-today div i {
  font-size: 2rem;
}
.total-today div p {
  color: white;
  font-size: 6rem;
  font-weight: 600;
  font-family: "Noto Sans Mono", monospace;
}
.total-today p {
  color: gray;
  font-size: 1.6rem;
  font-weight: 500;
}

.single-expense {
  width: 60%;
  margin-left: 50%;
  margin-bottom: 1rem;
  background-color: rgba(214, 214, 214, 0.219);
  border-radius: 1rem;
  padding: 2rem 3rem;
  box-shadow: 1px 1px 2px 1px rgba(128, 128, 128, 0.295);
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  font-weight: 600;
}
.single-expense .single-cost-del {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.single-expense p i {
  font-size: 1.6rem;
}

.single-expense-left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  gap: 0.5rem;
}

.se-notes {
  font-size: 1.6rem;
  align-self: flex-start;
  color: rgb(255, 168, 54);
}

.single-name-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  align-self: flex-start;
}
.single-name-tag .se-tag {
  color: white;
  font-size: 1.3rem;
  background-color: rgba(0, 0, 0, 0.473);
  padding: 0.1rem 1rem;
  border-radius: 1rem;
  font-weight: 400;
}

.fa-trash {
  color: #cf354c;
}

#change-date-dash {
  position: absolute;
  top: 12rem;
  right: 5rem;
  color: black;
}
#change-date-dash label {
  font-size: 1.7rem;
  font-weight: 600;
}
#change-date-dash input {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  margin-right: 1rem;
}
#change-date-dash button {
  height: 3rem;
  width: 3rem;
  background-color: rgb(253, 186, 86);
  border: 2px solid black;
  border-radius: 50%;
  cursor: pointer;
}
#change-date-dash button i {
  font-size: 1.4rem;
  color: white;
}

#warning-not-found {
  margin-top: 5rem;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5rem;
}

#calendar-icon {
  display: none;
}

#stats-div {
  margin-top: 12rem;
  width: 100%;
  height: 100vh;
  padding: 0 5%;
}
#stats-div h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 5rem;
}

#stats-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
#stats-form input {
  font-family: "Quicksand", sans-serif;
  font-weight: 500;
  font-size: 1.6rem;
  height: 4rem;
  width: 30rem;
  margin-bottom: 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  text-align: center;
  width: 20rem;
  margin-right: 2rem;
}
#stats-form button {
  font-family: "Quicksand", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  height: 4rem;
  width: 15rem;
  background-color: blanchedalmond;
  border: 2px solid rgb(253, 186, 86);
  border-radius: 1rem;
  color: black;
  cursor: pointer;
}

#expense-income-div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-bottom: 3rem;
}

.total-month {
  margin: 0;
  transform: translate(0);
  width: 30%;
}

.ms-name {
  font-size: 2rem;
  font-weight: 600;
}

.ms-amount i {
  font-size: 1.6rem;
}
.ms-amount span {
  font-size: 2.4rem;
  font-weight: 700;
}

.summary-income-expense {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 500;
}
.summary-income-expense span {
  font-weight: 700;
}

.mobile-nav {
  position: fixed;
  top: 7rem;
  right: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 1rem;
  border: 2px solid black;
  z-index: 99;
}
.mobile-nav a:nth-child(2n) {
  border-top: 1px solid black;
  padding-top: 1rem;
}

.hidden {
  display: none;
}

.noty_layout {
  font-size: 1.6rem;
}
